// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#define ZMK_POINTING_DEFAULT_MOVE_VAL 2500  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define MAC 0
#define WIN 1
#define RIG 2
#define LEF 3
#define TRI 4
#define MOUSE 5

// https: //zmk.dev/docs/development/hardware-integration/soft-off-setup?advanced-methods=wakeup&kscan-type=dkscan

/ {
    keys {
        compatible = "gpio-keys";

        soft_off_gpio_key: soft_off_gpio_key { gpios = <&gpio1 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; };
    };

    wakeup_scan: wakeup_scan {
        compatible = "zmk,kscan-gpio-direct";
        input-keys = <&soft_off_gpio_key>;
        wakeup-source;
    };

    side_band_behavior_triggers: side_band_behavior_triggers {
        compatible = "zmk,kscan-sideband-behaviors";
        kscan = <&wakeup_scan>;
        auto-enable;
        wakeup-source;
    };

    soft_off_wakers {
        compatible = "zmk,soft-off-wakeup-sources";
        wakeup-sources = <&wakeup_scan>;
    };
};

/ {
    chosen { zmk,charmap = &charmap_us; };

    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

        mmv {
            acceleration-exponent = <1>;      // 1
            time-to-max-speed-ms = <300>;    // 40
            delay-ms = <0>;                   // 0
        };

        msc {
            acceleration-exponent = <0>;      // 0
            time-to-max-speed-ms = <40>;      // 500
            delay-ms = <0>;                   // 10
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    macros {
        pass: pass {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_6 &kp N5 &kp NUMBER_6 &kp N5 &kp ENTER>;
            label = "PASS";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "DEFAULT";
            bindings = <
&kp Q  &kp W  &kp E  &kp R             &kp T             &kp Y           &kp U             &kp I               &kp O    &kp P
&kp A  &kp S  &kp D  &ht LEFT_GUI F    &kp G             &kp H           &kp J             &kp K               &kp L    &kp SEMICOLON
&kp Z  &kp X  &kp C  &ht LEFT_SHIFT V  &ht LEFT_ALT B    &ht LEFT_ALT N  &ht LEFT_SHIFT M  &ht LEFT_GUI COMMA  &kp DOT  &kp SLASH
                     &lt 2 ENTER       &kp LCTRL         &kp SPACE       &lt 1 ENTER
            >;
        };

        right_layer {
            display-name = "NUM & NAVIGATION";
            bindings = <
&trans  &trans  &trans  &trans          &trans    &trans     &trans            &trans             &trans         &trans
&trans  &trans  &trans  &kp LEFT_SHIFT  &trans    &kp SQT    &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSPACE  &kp EQUAL
&trans  &trans  &trans  &trans          &trans    &kp GRAVE  &kp MINUS         &pass              &trans         &kp BACKSLASH
                        &mo 3           &mo 4     &trans     &trans
            >;
        };

        left_layer {
            display-name = "SYMBOL";
            bindings = <
&kp LG(Q)  &kp ESC  &kp LEFT_ARROW  &kp RIGHT_ARROW  &kp C_PREV     &kp C_VOLUME_UP   &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans
&trans     &kp TAB  &trans          &kp LEFT_SHIFT   &kp C_NEXT     &kp C_VOL_DN      &kp NUMBER_4  &kp N5        &kp NUMBER_6  &trans
&trans     &trans   &kp UP_ARROW    &kp DOWN         &bootloader    &kp N0            &kp N7        &kp N8        &kp N9        &trans
                                    &trans           &trans         &kp LEFT_CONTROL  &mo 3
            >;
        };

        double-press {
            bindings = <
&trans  &trans  &kp LA(E)  &kp LEFT_ALT   &kp LS(LA(T))    &trans     &kp LEFT_ALT          &trans                 &trans  &trans
&trans  &trans  &trans     &trans         &kp LS(LA(G))    &trans     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans  &trans
&trans  &trans  &trans     &kp LA(LS(V))  &kp LS(LA(B))    &kp LA(N)  &trans                &trans                 &trans  &trans
                           &trans         &trans           &trans     &trans
            >;
        };

        Fs {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &kp F12  &kp F1  &kp F2  &kp F3  &trans
&trans  &trans  &trans  &trans  &trans    &kp F11  &kp F4  &kp F5  &kp F6  &trans
&trans  &trans  &trans  &trans  &trans    &kp F10  &kp F7  &kp F8  &kp F9  &trans
                        &trans  &trans    &trans   &trans
            >;
        };
    };
};
